{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block content %}
    <style>
        .container{
            position:center;

        }
    </style>
    <div class="container">
        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    {{ form (form) }}
                </div>
            </section>
        </section>
    </div>
</div>

{% endblock %}


