{% extends 'base.html.twig' %}
{% block content %}
<center>



    <h1 class="mb-4">Kids Are The Best <span>Explorers In The World</span></h1>

    <img src="{{ asset('imgg/kids.jpg') }}" alt="" class="img-fluid rounded-circle">
</center>
{% endblock %}
