{% extends 'baseBack.html.twig' %}
{% block content %}
<section id="main-content">
    <section class="wrapper">
        <div class="row">
    {{ form (form) }}
        </div> </section> </section>
{% endblock %}

