
{% extends 'base2.html.twig' %}
{% block content %}
<html>
<head>
    <title>class</title></head>
<body>



<fieldset style="width: 95%">
<br>
    <br>
                       <h1><h1> <strong>List of classes</strong></h1></h1>

        <div class="table-hover table-bordered table-inbox table-condensed"  border="1">

            <table class="table-hover table"  border="1">


                            <tr>
                                <th>Classes</th>
                                <th>Session</th>
                                <th></th>
                                <th></th>

                            </tr>
                        {% for classe in classe  %}
<tr >

                           <td>{{ classe.nom }}        </td>

                                <td>{{ classe.nbPupils }}         </td>


                                <td ><a class="btn btn-danger btn-sm" href="{{ path('class_delete',{"id":classe.id}) }}">Delete</a></td>
                                <td ><a  class="btn btn-warning btn-sm" href="{{ path('class_update',{"id":classe.id}) }}">Update</a></td>


                        {% endfor %}

</tr>
                        </table>
</fieldset>
</center>
</body>

</html>
{% endblock %}
