{% if app.user %}
Hello {{ app.user.username }}, tu es bien connecté en tant qu'utilisateur
{% endif %}

{% if app.user.hasrole('ROLE_ADMIN') %}
    <div> Tu es admin, tout les utilisateurs ont accés a cette page, mais seul toi peut voir cette phrase.</div>
{% endif %}
